In [2]:
import pm4py
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
event_log = pm4py.read_xes('data/OA_events.xes')

/Users/xuyou/opt/anaconda3/lib/python3.9/site-packages/pm4py/util/dt_parsing/parser.py:77: UserWarning: ISO8601 strings are not fully supported with strpfromiso for Python versions below 3.11
  warnings.warn(

parsing log, completed traces ::   0%|          | 0/31509 [00:00<?, ?it/s]

In [4]:
df = pm4py.convert_to_dataframe(event_log)
unique_events = sorted(df['concept:name'].unique())
unique_events

['A_Accepted',
 'A_Cancelled',
 'A_Complete',
 'A_Concept',
 'A_Create Application',
 'A_Denied',
 'A_Incomplete',
 'A_Pending',
 'A_Submitted',
 'A_Validating',
 'O_Accepted',
 'O_Cancelled',
 'O_Create Offer',
 'O_Created',
 'O_Refused',
 'O_Returned',
 'O_Sent (mail and online)',
 'O_Sent (online only)']

In [7]:
df['time:timestamp'] = pd.to_datetime(df['time:timestamp'], utc=True)
df

,Action,EventID,EventOrigin,org:resource,concept:name,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:RequestedAmount,case:concept:name,OfferedAmount,CreditScore,Selected,MonthlyCost,Accepted,NumberOfTerms,FirstWithdrawalAmount,OfferID
0,Created,Application_652823628,Application,User_1,A_Create Application,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,20000.0,Application_652823628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,ApplState_1582051990,Application,User_1,A_Submitted,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,20000.0,Application_652823628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,statechange,ApplState_642383566,Application,User_1,A_Concept,complete,2016-01-01 09:52:36.413000+00:00,Existing loan takeover,New credit,20000.0,Application_652823628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,statechange,ApplState_99568828,Application,User_52,A_Accepted,complete,2016-01-02 11:23:04.299000+00:00,Existing loan takeover,New credit,20000.0,Application_652823628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,Offer_148581083,Offer,User_52,O_Create Offer,complete,2016-01-02 11:29:03.994000+00:00,Existing loan takeover,New credit,20000.0,Application_652823628,20000.0,979.0,True,498.29,True,44.0,20000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433439,statechange,OfferState_30384573,Offer,User_96,O_Created,complete,2017-01-02 19:25:00.040000+00:00,Home improvement,New credit,20000.0,Application_1350494635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_1580299144
433440,statechange,OfferState_1959881309,Offer,User_96,O_Sent (mail and online),complete,2017-01-02 19:27:20.453000+00:00,Home improvement,New credit,20000.0,Application_1350494635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_1580299144
433441,statechange,ApplState_1120616436,Application,User_96,A_Complete,complete,2017-01-02 19:27:20.474000+00:00,Home improvement,New credit,20000.0,Application_1350494635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433442,statechange,ApplState_1869071797,Application,User_28,A_Cancelled,complete,2017-01-16 09:51:21.114000+00:00,Home improvement,New credit,20000.0,Application_1350494635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433443,statechange,OfferState_420066181,Offer,User_28,O_Cancelled,complete,2017-01-16 09:51:21.139000+00:00,Home improvement,New credit,20000.0,Application_1350494635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_1580299144

In [9]:
# Assuming df is your DataFrame
# Sort the DataFrame
df = df.sort_values(by=['case:concept:name', 'time:timestamp'])

# Function to filter rows
def filter_rows(group):
    # Find the first occurrence of the specified 'concept:name'
    idx = group[group['concept:name'].isin(['O_Sent (mail and online)', 'O_Sent (online only)'])].index.min()
    # If found, keep rows up to and including the first occurrence
    if pd.notna(idx):
        return group.loc[:idx]
    # If not found, return the group as is
    return group

# Apply the function to each group and combine the results
filtered_df = df.groupby('case:concept:name', group_keys=False).apply(filter_rows)

filtered_df[:20]

,Action,EventID,EventOrigin,org:resource,concept:name,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:RequestedAmount,case:concept:name,OfferedAmount,CreditScore,Selected,MonthlyCost,Accepted,NumberOfTerms,FirstWithdrawalAmount,OfferID
244258,Created,Application_1000086665,Application,User_1,A_Create Application,complete,2016-08-03 15:57:21.673000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244259,statechange,ApplState_161925113,Application,User_1,A_Submitted,complete,2016-08-03 15:57:21.734000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244260,statechange,ApplState_385184570,Application,User_1,A_Concept,complete,2016-08-03 15:58:28.299000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244261,statechange,ApplState_856156982,Application,User_5,A_Accepted,complete,2016-08-05 13:57:07.419000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244262,Created,Offer_410892064,Offer,User_5,O_Create Offer,complete,2016-08-05 13:59:57.320000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,5000.0,0.0,False,241.28,True,22.0,5000.0,NaN
244263,statechange,OfferState_2071773136,Offer,User_5,O_Created,complete,2016-08-05 13:59:58.162000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_410892064
244264,statechange,OfferState_388269514,Offer,User_5,O_Sent (mail and online),complete,2016-08-05 14:01:23.264000+00:00,"Other, see explanation",New credit,5000.0,Application_1000086665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_410892064
157486,Created,Application_1000158214,Application,User_1,A_Create Application,complete,2016-06-02 10:14:26.844000+00:00,Home improvement,New credit,12500.0,Application_1000158214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157487,statechange,ApplState_277536765,Application,User_1,A_Submitted,complete,2016-06-02 10:14:26.885000+00:00,Home improvement,New credit,12500.0,Application_1000158214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157488,statechange,ApplState_1547990892,Application,User_1,A_Concept,complete,2016-06-02 10:15:36.773000+00:00,Home improvement,New credit,12500.0,Application_1000158214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157489,statechange,ApplState_226397461,Application,User_32,A_Accepted,complete,2016-06-06 08:10:07.694000+00:00,Home improvement,New credit,12500.0,Application_1000158214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157490,Created,Offer_927137349,Offer,User_32,O_Create Offer,complete,2016-06-06 08:12:02.402000+00:00,Home improvement,New credit,12500.0,Application_1000158214,12500.0,929.0,True,250.00,True,57.0,0.0,NaN
157491,statechange,OfferState_268883758,Offer,User_32,O_Created,complete,2016-06-06 08:12:03.657000+00:00,Home improvement,New credit,12500.0,Application_1000158214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_927137349
157492,statechange,OfferState_1948801867,Offer,User_32,O_Sent (mail and online),complete,2016-06-06 08:16:46.835000+00:00,Home improvement,New credit,12500.0,Application_1000158214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_927137349
99248,Created,Application_1000311556,Application,User_71,A_Create Application,complete,2016-04-04 15:56:37.675000+00:00,Car,New credit,45000.0,Application_1000311556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99249,statechange,ApplState_1508577231,Application,User_71,A_Concept,complete,2016-04-04 15:56:37.696000+00:00,Car,New credit,45000.0,Application_1000311556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99250,statechange,ApplState_189615352,Application,User_71,A_Accepted,complete,2016-04-04 16:06:29.479000+00:00,Car,New credit,45000.0,Application_1000311556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99251,Created,Offer_2032690166,Offer,User_71,O_Create Offer,complete,2016-04-04 16:12:03.476000+00:00,Car,New credit,45000.0,Application_1000311556,45000.0,0.0,False,500.00,True,111.0,0.0,NaN
99252,statechange,OfferState_53557494,Offer,User_71,O_Created,complete,2016-04-04 16:12:04.732000+00:00,Car,New credit,45000.0,Application_1000311556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_2032690166
99253,statechange,OfferState_92937008,Offer,User_71,O_Sent (mail and online),complete,2016-04-04 16:15:45.527000+00:00,Car,New credit,45000.0,Application_1000311556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Offer_2032690166